@model WebApplication2.Models.Student

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row" ng-controller="stuCtrl">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" ng-model="fname" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" ng-model="lname"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MidName" class="control-label"></label>
                <input asp-for="MidName" class="form-control" ng-model="mname"/>
                <span asp-validation-for="MidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" ng-click="add()" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        app.controller("stuCtrl", function ($scope, $http) {
            $scope.add = function () {
                alert("clicked" + $scope.fname);
                $http({
                    method: 'POST',
                    url: '/api/StudentApi/Create',
                    data: { firstName: $scope.fname, lastName: $scope.lname, midName: $scope.lname }
                }).then(function successCallback(response) {
                    alert("succefully added = " + response.data.id);
                    }, function errorCallback(response) {
                        alert("error");
                });
            }

        });
    </script>
}
