@model IEnumerable<WebApplication2.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New </a>
</p>
<table class="table" ng-controller="listCtrl">
    <thead>
        <tr >
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Middle Name 
            </th>
            <th>
                Last Name 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="std in students">
            <td> {{std.id}}</td>
            <td> {{std.firstName}} </td>
            <td> {{std.midName}} </td>
            <td> {{std.lastName}} </td>
            <td>
                <button ng-click="delete(std.id)">Delete</button>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        app.controller("listCtrl", function ($scope, $http) {
            $scope.students = [];
            $scope.Init = function () {
                $http({
                    method: 'POST',
                    url: '/api/StudentApi/GetAllStudent'
                }).then(function successCallback(response) {
                    $scope.students = response.data;
                    console.log($scope.students);
                }, function errorCallback(response) {

                });

            }
            $scope.Init();

            $scope.delete = function (stid) {
                $http.delete('api/StudentApi/Delete/' + stid)
                    .then(function successCallback(response) {
                        if (response.data) {
                            alert("Successfully deleted.");
                            $scope.Init();
                        } else alert("Couldn't delete.");
                    }, function errorCallback(response) {
                        alert("error");
                        });
            }
        });
    </script>
}